<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <title>MultiStop</title>
</head>

<body class="w3-light-gray" style="margin-left: 32px;margin-top: 16px">
<div class="w3-half">
    <h3>MultiStop</h3>
    <p>MultiStop can help you schedule BART pickup and dropoffs.
        <br> MultiStop uses Google's API to account for traffic conditions.
        <br> What do you want to do?
    </p>
    <table class="w3-table">
        <tr>
            <th class="w3-center"><a href="pickup">Pickup</a></th>
            <th class="w3-center"><a href="dropoff">Dropoff</a></th>
        </tr>
        <tr>
            <td class="w3-center"><img width="100%" src="{{ url_for('static', filename='Pickup.png') }}"></td>
            <td class="w3-center"><img width="100%" src="{{ url_for('static', filename='Dropoff.png') }}"></td>
        </tr>
    </table>
</div>
</body>
</html>